#pam {
    display: flex;
    flex-direction: column;
    margin-left: 0px;
    width: 250px;
    height: 300px;
    position: absolute;
}

#mainPam {
    /*   background-color: green; */
    position: absolute;
    left: 28%;
    top: 0%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 10%;
    height: 50%;
    float: left;
    /*   clip-path: polygon(0 37%, 37% 0, 100% 63%, 63% 100%); */
    /*   clip-path: polygon(0 37%, 50% 1%, 100% 100%, 61% 100%); */
    margin-right: -25px;
    margin-bottom: 0px;

    transform: rotate(145deg)
}

#main2 {
    display: flex;
    position: absolute;
    left: 34%;
    top: -7%;
    flex-direction: column;
    justify-content: flex-end;
    width: 15%;
    height: 40%;
    float: left;
    margin-right: 1px;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 100%);
}

#main3 {
    display: flex;
    position: absolute;
    left: 49%;
    top: -7%;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: 1px;
    width: 15%;
    height: 40%;
    float: left;
    clip-path: polygon(0 0, 100% 0, 50% 100%, 0 100%);
}

#dis1 {
    background-color: yellow;
}



#dis2 {
    background-color: orange;
}

#dis3 {
    background-color: red;
}

#dis4 {
    background-color: green;
}

#disA1 {
    background-color: orange;
    /*   transform: rotate(148deg) */
}

#disA2 {
    background-color: yellow;
    /*   transform: rotate(148deg) */
}

#disA3 {
    background-color: green;
    /*   transform: rotate(148deg) */
}

#disA4 {
    background-color: red;
    height: 15px;
    /*   transform: rotate(148deg) */
}



#main4 {
    /*   background-color: green; */
    position: absolute;
    left: 60%;
    top: 0%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 10%;
    height: 50%;
    float: left;
    /*   clip-path: polygon(0 37%, 37% 0, 100% 63%, 63% 100%); */
    /*   clip-path: polygon(0 37%, 50% 1%, 100% 100%, 61% 100%); */
    margin-right: -25px;
    margin-bottom: 0px;

    transform: rotate(215deg)
}

#sensors {
    position: absolute;
    height: 20%;
    width: 100%;
}

#sensors2 {
    height: 20%;
    width: 100%;
    position: absolute;
    top: 67%;
    left: -1%;
    /*   transform: rotate(180deg);  */
    transform: rotate(180deg);
}

#pic {
    position: absolute;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    height: 70%;
    width: 100%;
    top: 8%;
    /*   top: 110px;
      left: -32px; */
    z-index: -999;
}

#pic img {
    height: 100%;
    width: 80%;
    object-fit: fill;
    margin-right: 1%;
}

.sensorLine {
    height: 15px;
    max-height: 15px;
}

.disClear {
    background-color: rgba(0,0,0,0) !important;
}
